*,
*::before,
*::after {
	box-sizing: border-box;
}
body{
	margin: 0;
}
.container{
	max-width: 1300px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
header{
	padding-top: 250px;
	padding-bottom: 220px;
}
footer,
.gallery_section{
	background-color: #333;
	padding-bottom: 90px;
}
.hero-text{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 6.875rem;
	font-weight: 900;
	letter-spacing: -0.025em;
	line-height: 5.625rem;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 0px;
}
.hero-text:after {
  content: "";
  display: block;
  width: 160px;
  margin: 40px auto 40px;
  border-bottom: 3px solid #da491c;
}
.red_line:after {
  content: "";
  display: block;
  width: 160px;
  margin: 30px auto 30px;
  border-bottom: 3px solid #da491c;
}  
h4{
	text-align: center;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.125rem;
	letter-spacing: 0em;
	line-height: 2.25rem;
	color: #cccccc;
}
h2{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2.25rem;
	letter-spacing: 0em;
	line-height: 3rem;
	color: #333;
	text-transform: uppercase;
}
.thirdh2{
	color: #fff;
	margin-bottom: 0px;
}
h3{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.625rem;
	letter-spacing: 0em;
	line-height: 3rem;
	color: #333;
	text-transform: uppercase;
}
.footerh3{
	color: #fff;
	margin-bottom: 0px;
}
h5{
	text-align: left;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 0em;
	line-height: 1.875rem;
	color: #333;
}
p{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	letter-spacing: 0em;
	line-height: 1.875rem;
	color: #646464;
}
.side-block p{
	margin-top: 0px;
}
.info_text{
	color: #ffffff;
}
.info_section{
	background-color: #ffffff;
	padding-bottom: 110px;
	padding-top: 80px;
}
.contact_section{
	background-color: #262626;
	padding-top: 110px;
	padding-bottom: 70px;
}
.gallery_section{
	padding-top: 70px;
	padding-bottom: 70px;
}
.flex_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.square{
	width: calc(33.3333% - 15px);
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2a9zr4');
  src:  url('../fonts/icomoon.eot?2a9zr4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2a9zr4') format('truetype'),
    url('../fonts/icomoon.woff?2a9zr4') format('woff'),
    url('../fonts/icomoon.svg?2a9zr4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-ico"], [class*=" icon-ico"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icocloud-reload-symbol:before {
  content: "\e900";
}
.icon-icoexpand-two-diagonal-arrows-symbol:before {
  content: "\e901";
}
.icon-icoopposite-arrows-of-angles-pointing-to-sides:before {
  content: "\e902";
}
.icon-icoshopping-cart-solid:before {
  content: "\e903";
}
.icon-icoweb-page:before {
  content: "\e904";
}
.icon-icoweb-plugin:before {
  content: "\e905";
}
.icon-icogoogle-plus:before {
  content: "\ea8b";
}
.icon-icofacebook:before {
  content: "\ea90";
}
.icon-icotwitter:before {
  content: "\ea96";
}
.icon-icolinkedin2:before {
  content: "\eaca";
}
.icon-icopinterest2:before {
  content: "\ead2";
}
.red-icon{
	color: #da491c;
	font-size: 1.625rem;
}
.con_btn a{
	display: block;
	width: 270px;
	height: 69px;
	border: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 69px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

}
.con_btn a:hover{
    background: #333
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav_bar a{	
  	display: block;
  	text-transform: uppercase;
  	text-decoration: none;
  	font-family: 'Open Sans', sans-serif;
  	font-weight: 400;
  	font-size: 0.875rem;
  	letter-spacing: 0em;
  	line-height: 1.875rem;
  	color: #646464;
  	padding-right: 10px;
  	padding-left: 10px;
}
.nav_bar a:hover{
    background: #262626;
}
a{
	text-decoration: none;
	color: #333;
}
.nav_bar{
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.gray-icon{
	font-size: 0.875rem;
	background: #d2d1cf;
	padding: 0.6em;
	margin-top: 25px;
	margin-right: 5px;
	text-align: left;
	display: inline;
	border-radius: 50%;
}
.main-block{
	width: 80%;
	padding-top: 30px;
}
.side-block{
	width: 20%;
}

.hero-image{
  background-image: url("../images/optimized/table_computer-min.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: block;
} 

.contact_image{
	background-image: url("../images/optimized/man_computer-min.jpeg");
  	background-position: center;
  	background-size: cover;
  	position: relative;
  	width: 100%;
  	display: block;
} 
.flex_container1{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}	
input{
	font-family: Lato;
	font-size: 3.75rem;
	font-weight: 300;
	color: #646464;
	line-height: 1.875rem;
  	width: 80%;
  	margin-top: 40px;
  	border: none;
  	background: transparent; 
  	box-sizing: border-box;
}
input:focus {
  outline:none;
}
.flex_container>a{
	width: 21%;
	margin-bottom: 25px;
}